<div class="footer">
<p>Cecile Varin @copyright 2017</p>

<ul class="list-inline text-center">
  <li><a href="#"><i class="fa fa-heart"></i></a></li>
  <li><a href="#"><i class="fa fa-share"></i></a></li>
  <li><a href="#"><i class="fa fa-star"></i></a></li>
</ul>
</div>
